Client/Client/Connected Services/ProxyHttpCustomer/ServiceCustomer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCustomer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceCustomer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data.Domains" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCustomer_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_ReadAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_ReadAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_ReadById_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadById" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_ReadById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_GetCurrentBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentBooking" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_GetCurrentBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_GetAllPastBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPastBookings" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_GetAllPastBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPastBookingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCustomer">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/Create" message="tns:IServiceCustomer_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/CreateResponse" message="tns:IServiceCustomer_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/ReadAll" message="tns:IServiceCustomer_ReadAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/ReadAllResponse" message="tns:IServiceCustomer_ReadAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/ReadById" message="tns:IServiceCustomer_ReadById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/ReadByIdResponse" message="tns:IServiceCustomer_ReadById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/Update" message="tns:IServiceCustomer_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/UpdateResponse" message="tns:IServiceCustomer_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/Delete" message="tns:IServiceCustomer_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Customer/DeleteResponse" message="tns:IServiceCustomer_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomer/GetCurrentBooking" message="tns:IServiceCustomer_GetCurrentBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomer/GetCurrentBookingResponse" message="tns:IServiceCustomer_GetCurrentBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPastBookings">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomer/GetAllPastBookings" message="tns:IServiceCustomer_GetAllPastBookings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomer/GetAllPastBookingsResponse" message="tns:IServiceCustomer_GetAllPastBookings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCustomer" type="tns:IServiceCustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/ReadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadById">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/ReadById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBooking">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomer/GetCurrentBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPastBookings">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomer/GetAllPastBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServiceCustomer" type="tns:IServiceCustomer">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceCustomer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/ReadAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadById">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/ReadById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Customer/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBooking">
      <soap12:operation soapAction="http://tempuri.org/IServiceCustomer/GetCurrentBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPastBookings">
      <soap12:operation soapAction="http://tempuri.org/IServiceCustomer/GetAllPastBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCustomer">
    <wsdl:port name="BasicHttpBinding_IServiceCustomer" binding="tns:BasicHttpBinding_IServiceCustomer">
      <soap:address location="http://localhost:7080/serviceAddress" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServiceCustomer" binding="tns:NetTcpBinding_IServiceCustomer">
      <soap12:address location="net.tcp://localhost:7070/serviceAddress" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7070/serviceAddress</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-3I2DCJV\#omx1044</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>