Client/Client/Connected Services/ProxyHttpBooking/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://book.book/Booking" elementFormDefault="qualified" targetNamespace="http://book.book/Booking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BookingRqObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LisenceKey" nillable="true" type="xs:string" />
</xs:schema>