Client/Client/Connected Services/ProxyHttpBooking/ServiceBooking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBooking" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceBooking_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data.Domains" />
      <xsd:import schemaLocation="http://localhost:6080/?xsd=xsd3" namespace="http://book.book/Booking" />
      <xsd:import schemaLocation="http://localhost:6080/?xsd=xsd4" namespace="http://carservice/Employee" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBooking_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_ReadAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_ReadAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_ReadById_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadById" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_ReadById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="BookingRequest">
    <wsdl:part xmlns:q1="http://book.book/Booking" name="parameters" element="q1:BookingRqObject" />
  </wsdl:message>
  <wsdl:message name="BookingRequest_Headers">
    <wsdl:part xmlns:q2="http://book.book/Booking" name="LisenceKey" element="q2:LisenceKey" />
  </wsdl:message>
  <wsdl:message name="BookingInfo">
    <wsdl:part xmlns:q3="http://book.book/Booking" name="parameters" element="q3:BookingRqObject" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_GetAllBookingTimeSpan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBookingTimeSpan" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_GetAllBookingTimeSpan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBookingTimeSpanResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_ReturnCar_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCar" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_ReturnCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_GetAvailableCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCars" />
  </wsdl:message>
  <wsdl:message name="IServiceBooking_GetAvailableCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCarsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBooking">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/Create" message="tns:IServiceBooking_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/CreateResponse" message="tns:IServiceBooking_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/ReadAll" message="tns:IServiceBooking_ReadAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/ReadAllResponse" message="tns:IServiceBooking_ReadAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/ReadById" message="tns:IServiceBooking_ReadById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/ReadByIdResponse" message="tns:IServiceBooking_ReadById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/Update" message="tns:IServiceBooking_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/UpdateResponse" message="tns:IServiceBooking_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/Delete" message="tns:IServiceBooking_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGenericOf_Booking/DeleteResponse" message="tns:IServiceBooking_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBooking/GetBookingInfo" name="BookingRequest" message="tns:BookingRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBooking/GetBookingInfoResponse" name="BookingInfo" message="tns:BookingInfo" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBookingTimeSpan">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBooking/GetAllBookingTimeSpan" message="tns:IServiceBooking_GetAllBookingTimeSpan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBooking/GetAllBookingTimeSpanResponse" message="tns:IServiceBooking_GetAllBookingTimeSpan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBooking/ReturnCar" message="tns:IServiceBooking_ReturnCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBooking/ReturnCarResponse" message="tns:IServiceBooking_ReturnCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBooking/GetAvailableCars" message="tns:IServiceBooking_GetAvailableCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBooking/GetAvailableCarsResponse" message="tns:IServiceBooking_GetAvailableCars_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBooking" type="tns:IServiceBooking">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/ReadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadById">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/ReadById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceBooking/GetBookingInfo" style="document" />
      <wsdl:input name="BookingRequest">
        <soap:header message="tns:BookingRequest_Headers" part="LisenceKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BookingInfo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBookingTimeSpan">
      <soap:operation soapAction="http://tempuri.org/IServiceBooking/GetAllBookingTimeSpan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap:operation soapAction="http://tempuri.org/IServiceBooking/ReturnCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCars">
      <soap:operation soapAction="http://tempuri.org/IServiceBooking/GetAvailableCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServiceBooking" type="tns:IServiceBooking">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceBooking_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/ReadAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadById">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/ReadById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IServiceGenericOf_Booking/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceBooking/GetBookingInfo" style="document" />
      <wsdl:input name="BookingRequest">
        <soap12:header message="tns:BookingRequest_Headers" part="LisenceKey" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BookingInfo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBookingTimeSpan">
      <soap12:operation soapAction="http://tempuri.org/IServiceBooking/GetAllBookingTimeSpan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap12:operation soapAction="http://tempuri.org/IServiceBooking/ReturnCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCars">
      <soap12:operation soapAction="http://tempuri.org/IServiceBooking/GetAvailableCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBooking">
    <wsdl:port name="BasicHttpBinding_IServiceBooking" binding="tns:BasicHttpBinding_IServiceBooking">
      <soap:address location="http://localhost:6080/serviceAddress" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServiceBooking" binding="tns:NetTcpBinding_IServiceBooking">
      <soap12:address location="net.tcp://localhost:6081/serviceAddress" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6081/serviceAddress</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-TEQ645D\OMX1044</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>